* { margin: 0; padding: 0; }

a { text-decoration: none; }

body { background-color: #F7F6F3; font-family: 'Open Sans', sans-serif; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

#osnova { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-preferred-size: 100%; flex-basis: 100%; }

menu { width: 270px; height: 1117px; background-color: #000; }

menu #Porojectus { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

menu #Porojectus #logo { margin-left: 30.4px; margin-top: 32.5px; }

menu #Porojectus span { margin-left: 13px; margin-top: 30px; color: white; width: 230px; }

menu #Porojectus #search { width: 16px; height: 16px; margin-left: 234px; margin-top: 33px; position: absolute; }

menu #User { width: 100%; height: 80px; margin-left: 0px; margin-top: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background-color: #202020; }

menu #User img { width: 48px; height: 48px; margin-left: 30px; margin-top: 16px; border-radius: 50%; }

menu #User #USERNAME { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin-top: 20px; }

menu #User #USERNAME div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

menu #User #USERNAME #nameUser { font-size: 14px; color: #fff; margin-bottom: 2px; margin-left: 13px; width: 92px; }

menu #User #USERNAME #statusUser { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 12px; color: #9b9b9b; margin-left: 13px; }

menu #User #USERNAME #touch { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 17px; color: #9b9b9b; margin-left: 49px; margin-top: 8px; }

menu #work { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin-left: 30px; margin-top: 20px; }

menu #work span { font-size: 20px; color: #fff; }

menu #work p { font-size: 12px; color: rgba(255, 255, 255, 0.5); }

menu #work .res { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

menu #work .two { padding-left: 20px; }

menu #menu { margin-left: 30px; margin-top: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

menu #menu li { width: 100%; height: 38.1px; }

menu #menu a { font-size: 14px; color: #fff; }

menu #menu #MENU { font-size: 12px; color: #878787; }

menu #menu #Notifications { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

menu #menu #Notifications div { width: 20px; height: 19px; font-size: 13px; color: #131313; background-color: #ffc200; border-radius: 50%; margin-left: 9.3px; text-align: center; }

nav { width: 100%; height: 136px; background-color: white; }

nav #content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

nav #content #svg { width: 40px; height: 40px; margin-left: 30px; margin-top: 39.5px; background-color: #FFC200; border-radius: 10px; }

nav #content #h1 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

nav #content #h1 span { font-size: 32px; color: #131313; margin-left: 15px; margin-top: 35px; width: 266px; }

nav #content #touch { width: 25px; height: 25px; margin-left: 11px; margin-top: 45px; font-size: 16px; color: #9b9b9b; padding-top: 4px; padding-left: 5px; background-color: #eaeaea; border-radius: 50%; }

nav #content #UserShareChat { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin: 0 0 0 auto; }

nav #content #UserShareChat #USER_IMG { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

nav #content #UserShareChat #USER_IMG img { width: 30px; height: 30px; margin-left: 5px; margin-top: 44px; border-radius: 50%; }

nav #content #UserShareChat #ShareChat { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

nav #content #UserShareChat #ShareChat #share { width: 67px; height: 30px; font-size: 14px; color: #131313; margin-left: 15px; margin-top: 45px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background-color: #eaeaea; border-radius: 15px; }

nav #content #UserShareChat #ShareChat #share span { padding: 5px 14px 6px 15px; }

nav #content #UserShareChat #ShareChat #chat { width: 81px; height: 30px; font-size: 14px; color: #ffc200; margin-left: 15px; margin-top: 45px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background-color: #fff8dd; border-radius: 15px; }

nav #content #UserShareChat #ShareChat #chat span { padding: 6px 14px 5px 5px; position: relative; }

nav #content #UserShareChat #ShareChat #chat img { margin-left: 15px; margin-top: 7px; width: 16px; height: 16px; }

nav #mainMenu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; list-style: none; margin-left: 30px; margin-top: 21px; }

nav #mainMenu a { font-size: 16px; color: #131313; opacity: 0.7; padding-bottom: 12px; }

nav #mainMenu a:hover { color: #131313; opacity: 1; border-bottom: #FFC200 2px solid; }

nav #mainMenu .Kanban { margin-left: 29px; margin-top: 0px; }

nav #mainMenu .margin { margin-left: 24px; margin-top: 0px; }

nav #mainMenu .Calendar { margin-left: 28px; margin-top: 0px; }

main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 75%; height: 591px; background-color: #FFF; margin: 30px 0 0 15%; border-radius: 8px; }

main #day { margin-left: 30px; margin-top: 35px; font-size: 14px; color: #131313; opacity: 0.5; }

main #postOne { margin-left: 4%; margin-top: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 16px; color: #131313; }

main #postOne #status { width: 40px; height: 40px; font-size: 13px; color: #eeecec; position: relative; background-color: #CEF9C6; border-radius: 50%; }

main #postOne p { width: 68%; margin-left: 2.5%; }

main #postOne #time { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 14px; color: #131313; margin-left: 46px; position: relative; opacity: 0.7; text-align: start; width: 10px; width: 16%; }

main #postOne img { width: 12px; height: 9px; margin: 16px 14px 15px 14px; }

main #postTwo { margin-left: 4%; margin-top: 26px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 16px; color: #131313; }

main #postTwo #status { width: 40px; height: 40px; font-size: 13px; color: #eeecec; position: relative; background-color: #FFF8DD; border-radius: 50%; }

main #postTwo p { width: 68%; margin-left: 2.5%; }

main #postTwo #time { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 14px; color: #131313; margin-left: 46px; position: relative; opacity: 0.7; text-align: start; width: 10px; width: 16%; }

main #postTwo img { width: 12px; height: 11.2px; margin: 14px 14px 14.8px 14px; }

main #postThree { margin-left: 4%; margin-top: 26px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 16px; color: #131313; }

main #postThree #status { width: 40px; height: 40px; font-size: 13px; color: #eeecec; position: relative; background-color: #E3EFFF; border-radius: 50%; }

main #postThree p { width: 68%; margin-left: 2.5%; }

main #postThree #time { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 14px; color: #131313; margin-left: 46px; position: relative; opacity: 0.7; text-align: start; width: 10px; width: 16%; }

main #postThree img { width: 12px; height: 13.5px; margin: 13px 14px 13.5px 14px; }

main #comentary { width: 70%; height: 88px; margin-left: 10%; margin-top: 20px; background-color: #F7F6F3; border-radius: 10px; }

main #comentary P { font-size: 15px; color: #131313; padding-left: 29px; padding-top: 15px; width: 85%; text-align: start; }

main #world { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin-left: 85px; margin-top: 13px; }

main #world img { width: 100px; height: 100px; border-radius: 8px; margin: 5px; }

@media (max-width: 1000px) { nav #content #UserShareChat { margin-left: 10%; margin-top: -30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  nav #content #UserShareChat #ShareChat { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  nav #content #UserShareChat #ShareChat #share { margin-left: -20px; margin-top: 10px; }
  nav #content #UserShareChat #ShareChat #chat { margin-left: 10px; margin-top: 10px; }
  nav #mainMenu { margin-top: 17px; } }

@media (max-width: 868px) { menu { width: 200px; height: 1117px; margin-left: -20px; margin-top: -10px; }
  menu #User #USERNAME #touch { display: none; }
  menu #work { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  menu #work .two { padding-left: 0; padding-top: 15px; }
  nav #content #svg { width: 35px; height: 35px; margin-left: 20px; margin-top: 39.5px; }
  nav #content #h1 span { font-size: 28px; color: #131313; width: 236px; }
  nav #content #touch { width: 20px; height: 20px; font-size: 14px; color: #9b9b9b; margin-left: 0px; margin-top: 45px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  nav #content #UserShareChat { margin: 0 0 0 auto; }
  nav #content #UserShareChat #USER_IMG { display: none; }
  nav #content #UserShareChat #ShareChat { margin-left: 0px; margin-top: -20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  nav #content #UserShareChat #ShareChat #share { margin-left: 10px; margin-top: 45px; }
  nav #content #UserShareChat #ShareChat #chat { margin-left: 0px; margin-top: 10px; }
  nav #mainMenu { margin-top: 6px; padding-bottom: 30px; }
  main { width: 100%; height: 100%; margin-left: 0px; margin-top: 30px; } }

@media (max-width: 800px) { main #world { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  main #world .img0 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

@media (max-width: 600px) { menu { width: 140px; height: 1117px; background-color: #000; }
  menu #Porojectus { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  menu #Porojectus #logo { width: 18px; height: 18px; margin-left: 30.4px; margin-top: 32.5px; }
  menu #Porojectus span { font-size: 14px; color: #fff; margin-left: 8px; margin-top: 32px; width: 230px; }
  menu #Porojectus #search { display: none; }
  menu #menu { margin-left: 30px; margin-top: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  menu #menu li { width: 100%; height: 38.1px; }
  menu #menu a { font-size: 12px; color: #fff; }
  menu #menu #MENU { font-size: 10px; color: #878787; }
  menu #menu #Notifications { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  menu #menu #Notifications div { width: 20px; height: 19px; font-size: 13px; color: #131313; background-color: #ffc200; border-radius: 50%; margin-left: 9.3px; text-align: center; }
  menu #User { width: 100%; height: 70px; margin-left: 0px; margin-top: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; background-color: #202020; }
  menu #User img { width: 38px; height: 38px; margin-left: 30px; margin-top: 16px; border-radius: 50%; }
  menu #User #USERNAME { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin-top: 20px; }
  menu #User #USERNAME div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  menu #User #USERNAME #nameUser { font-size: 13px; color: #fff; width: 50px; }
  menu #User #USERNAME #statusUser { display: none; }
  nav #content #svg { width: 30px; height: 30px; margin-left: 15px; margin-top: 20px; background-color: #FFC200; border-radius: 10px; }
  nav #content #h1 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  nav #content #h1 span { font-size: 16px; color: #131313; margin-left: 15px; margin-top: 20px; width: 136px; }
  nav #content #touch { width: 15px; height: 15px; margin-left: 2px; margin-top: 22.5px; font-size: 10px; color: #9b9b9b; padding-top: 4px; }
  nav #content #UserShareChat { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; position: absolute; }
  nav #content #UserShareChat #ShareChat { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  nav #content #UserShareChat #ShareChat #share { margin-left: 80px; margin-top: 70px; width: 57px; height: 30px; font-size: 14px; }
  nav #content #UserShareChat #ShareChat #chat { margin-left: 10px; margin-top: 70px; }
  nav #mainMenu { margin-left: 10px; margin-top: 40px; }
  nav #mainMenu a { font-size: 14px; color: #131313; opacity: 0.7; padding-bottom: 1px; }
  nav #mainMenu a:hover { color: #131313; opacity: 1; border-bottom: #FFC200 2px solid; }
  nav #mainMenu .Kanban { margin-left: 20px; margin-top: 0px; }
  nav #mainMenu .margin { margin-left: 19px; margin-top: 0px; }
  nav #mainMenu .Calendar { margin-left: 20px; margin-top: 0px; }
  main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; height: 100%; margin: 0 0 0 0; }
  main #day { margin-left: 30px; margin-top: 35px; font-size: 14px; color: #131313; opacity: 0.5; }
  main #postOne { margin-left: 4%; margin-top: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 16px; color: #131313; font-size: 14px; color: #131313; }
  main #postOne #status { width: 40px; height: 40px; font-size: 13px; color: #eeecec; position: relative; background-color: #CEF9C6; border-radius: 50%; }
  main #postOne p { width: 50%; margin-left: 2.5%; }
  main #postOne #time { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 14px; color: #131313; margin-left: 46px; position: relative; opacity: 0.7; text-align: start; width: 10px; width: 16%; }
  main #postOne img { width: 12px; height: 9px; margin: 16px 14px 15px 14px; }
  main #postTwo { margin-left: 4%; margin-top: 26px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 16px; color: #131313; font-size: 14px; color: #131313; }
  main #postTwo #status { width: 40px; height: 40px; font-size: 13px; color: #eeecec; position: relative; background-color: #FFF8DD; border-radius: 50%; }
  main #postTwo p { width: 50%; margin-left: 2.5%; }
  main #postTwo #time { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 14px; color: #131313; margin-left: 46px; position: relative; opacity: 0.7; text-align: start; width: 10px; width: 16%; }
  main #postTwo img { width: 12px; height: 11.2px; margin: 14px 14px 14.8px 14px; }
  main #postThree { margin-left: 4%; margin-top: 26px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 16px; color: #131313; font-size: 14px; color: #131313; }
  main #postThree #status { width: 40px; height: 40px; font-size: 13px; color: #eeecec; position: relative; background-color: #E3EFFF; border-radius: 50%; }
  main #postThree p { width: 50%; margin-left: 2.5%; }
  main #postThree #time { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; font-size: 14px; color: #131313; margin-left: 46px; position: relative; opacity: 0.7; text-align: start; width: 10px; width: 16%; }
  main #postThree img { width: 12px; height: 13.5px; margin: 13px 14px 13.5px 14px; }
  main #comentary { width: 80%; height: 10%; background-color: #F7F6F3; border-radius: 10px; }
  main #comentary p { font-size: 13px; color: #131313; padding-left: 19px; padding-top: 5px; padding-bottom: 5px; width: 75%; text-align: start; } }
